<div class="page">
  <div class="more-space-l"></div>
  <div class="container">
    <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
      <h2><%= text_title %></h2>
      <div class="divider divider-icon divider-md">//</div>
    </div>

    <% @article.errors.full_messages.each do |message| %>
    <div class="alert alert-danger fade in alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
      <%=message%>
    </div>
    <% end %>

    <div class="row">
      <%= form_for @article do |f| %>
      <div class="form-group col-sm-11 col-md-6" rows="5">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control", placeholder: "Digite um título" %>
      </div>
      <div class="form-group col-sm-12 col-md-6">
        <%= image_tag f.object.photo.url(:thumb), class: "img_preview" %>
      </div>
      <div class="form-group col-sm-11 col-md-6">
        <%= f.label :subtitle %>
        <%= f.text_field :subtitle, class: "form-control", placeholder: "Digite uma descrição custa" %>
      </div>
      <div class="form-group col-sm-11 col-md-6">
        <%= f.label :photo %>
        <%= f.file_field :photo, class: "form-control img_field" %>
      </div>
      <div class="form-group col-sm-11 col-md-12">
        <%= f.label :body %>
        <%= f.cktext_area :body, class: "form-control", placeholder: "Editor de texto" %>
      </div>
      <div class="col-sm-11 col-md-3">
        <%= f.submit text, :class => "btn btn-primary form-control" %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="more-space-xxl"></div>
</div>
