<% content_for :head do %>
    <!-- Open Graph tags -->
    <meta property="og:title" content="<%= @article.title %>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= article_url(@article) %>" />
    <meta property="og:description" content="<%= @article.subtitle %>" />
      <meta property="og:image" content="<%= @article.photo.url(:original) %>" />
    <meta property="fb:app_id" content="187676691323618" />
    <!-- Twitter card property -->
    <meta name="twitter:card" content="<%= @article.title %>">
    <meta name="twitter:site" content="@acensjr">
  <% end %>

<div class="more-space-xl"></div>
<div class="page article">
  <div class="page-header-wrapper">
    <div class="container">
      <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
          <h1><%= @article.title_a %><span class="text-main"><%= @article.title_b %></span></h1>
        <div class="divider divider-icon divider-md">//</div>
        <p class="lead text-gray"><%= @article.subtitle %></p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <%= image_tag @article.photo.url, class: "img-responsive img-center img-article" %>
        <div class="more-space-xl"></div>
        <div class="article-body">
          <%= raw @article.body %>
        </div>

      </div>
      <div class="col-sm-12 col-md-offset-1 col-md-10">
        <div class="pull-right">
          <%= social_share_button_tag(@article.title, desc: @article.subtitle)%>
        </div>
        <div class="more-space-xl"></div>
        <div id="disqus_thread"></div>
      </div>
    </div>
  </div>

  <div class="more-space-xxl"></div>
</div>
