<div class="page">
  <div class="more-space-l"></div>
  <div class="container">
    <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
      <h2><%= text_title %></h2>
      <div class="divider divider-icon divider-md">//</div>
    </div>

    <% @portfolio.errors.full_messages.each do |message| %>
    <div class="alert alert-danger fade in alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">&times;</a>
      <%=message%>
    </div>
    <% end %>

    <div class="row">
      <%= form_for @portfolio do |f| %>
      <div class="form-group col-sm-12 col-md-6">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group col-sm-12 col-md-6">
        <%= f.label :client_name %>
        <%= f.text_field :client_name, class: "form-control" %>
      </div>

      <div class="form-group col-sm-12 col-md-6">
        <%= f.label :subtitle %>
        <%= f.text_field :subtitle, class: "form-control" %>
        <%= f.label :banner %>
        <%= f.file_field :banner, class: "form-control img_field" %>
        <br>
        <%= image_tag f.object.banner.url(:thumb), class: "img_preview" %>
      </div>
      <div class="form-group col-sm-12 col-md-6">
        <div class="">
          <%= f.label :pictures %>
          <%= file_field_tag "images[]", type: :file, multiple: true, class: "form-control screenshots_field" %>
        </div>
        <div class="">
          <%= f.label :type_service_id %>
          <%= f.collection_select(:type_service_id, TypeService.all, :id, :name, { prompt: "Tipo do serviço"}, {class: "form-control"}) %>
        </div>
      </div>
      <!-- TODO Visualizacao dos screenshots na tela Edit e criar logica de alteracao
            dos screenshots na mesma tela.-->
      <% f.object.pictures.each do |picture| %>
        <%= image_tag picture.image.url(:thumb), class: "screenshots_preview" %>
      <% end %>

      <div class="form-group col-sm-12 col-md-6">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control", rows: 4 %>
      </div>
      <div class="form-group col-sm-12 col-md-6">
        <%= f.submit text, class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
    <div class="more-space-xxl"></div>
  </div>
</div>
