<!-- Begin section blog -->
<section class="page">
  <!-- Begin page header-->
  <div class="page-header-wrapper">
    <div class="container">
      <div class="page-header text-center wow fadeInUp" data-wow-delay="0.2s">
        <h1>Inscritos</h1>
        <div class="divider divider-icon divider-md">//</div>
        <p class="lead text-gray">
        <%= "#{@inscritos.size} inscritos"%>
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <table id="tabelainscritos"class="table table-striped " >
      <thead>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Matrícula</th>
        <th>Carreira</th>
      </thead>
      <tbody>
        <% @inscritos.each do |inscrito| %>
        <tr>
          <td><%= inscrito.name %></td>
          <td><%= inscrito.email %></td>
          <td><%= inscrito.registration %></td>
          <td><%= inscrito.survey_option.name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Download CSV', inscritos_path(format: :csv), class: "btn btn-primary" %>
  </div>

</section>
