<!-- Begin section blog -->
<section id="blog" class="page blog">
  <!-- Begin page header-->
  <div class="page-header-wrapper">
    <div class="container">
      <div class="page-header text-center wow fadeInUp" data-wow-delay="0.2s">
        <h1>Últimas <span class="text-main">Notícias</span></h1>
        <div class="divider divider-icon divider-md">//</div>
        <p class="lead text-gray">
          Acompanhe aqui as últimas notícias relacionadas à tecnologias úteis para auxilar seu negócio, assuntos referentes à computação e demais notícias sobre a Acens.
        </p>
      </div>
    </div>
  </div>
  <!-- End page header-->
  <div class="container-fluid">
    <div id="owl-blog" class="owl-carousel owl-blog">
      <% unless @articles.blank? %>
        <% @articles.order('id desc').each do |article| %>
          <div class="blog-box wow zoomIn" data-wow-delay="0.5s">
            <div class="thumbnail">
              <div class="blog-image">
                <%= link_to article_path(article) do %>
                  <%= image_tag article.photo.url(:medium), alt: article.title %>
                  <div class="cover"><div class="cover-inner"></div></div>
                <% end %>
              </div>
              <div class="caption text-center">
                <div class="caption-tag"><i class="fa fa-pencil"></i></div>
                <%= link_to article_path(article), class: "title" do %>
                  <h5><%= article.title %></h5>
                <% end %>
                <p>By <span><a href="#"><%= article.user.name %></a></span></p>
                <p><%= article.subtitle %></p>
                <%= link_to "Leia mais!", article_path(article) %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <!-- /.owl-carousel -->

    <div class="more-space-m"></div>

    <!-- Begin view-more button -->
    <div class="view-more text-center">
      <!-- TODO Ver links globais quando vier de outra página! -->
      <%= link_to "Veja mais", articles_path, class: "btn btn-main btn-lg wow bounceInUp", "data-wow-delay": "0.1s", role: "button" %>
    </div>
    <!-- End view-more button -->
  </div>
  <!-- /.container -->
  <div class="more-space-xxl"></div>

  <!-- Begin page header-->
  <div class="page-header-wrapper">
    <div class="container">
      <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
        <h1>Receba as <span class="text-main">novidades</span></h1>
        <div class="divider divider-icon divider-md">//</div>
        <p class="lead text-gray">Fique por dentro de promoções, conteúdo e mais!!</p>
      </div>
    </div>
  </div>
  <div class = "subscribe_form container">
      <div class="row">
        <form id = "subscribe" form method = 'POST'>
          <input id = "email_id"  class="input-lg col-md-offset-3 col-md-4 col-xs-12" type="email" name = "email_id" required placeholder="seu@email.com">
          <button type="submit" class="btn btn-blank btn-lg wow bounceInRight col-md-2 col-xs-12" value = "Inscreva-se" id = "email_submit">Inscreva-se</button>
        </form>
      </div>
  </div>
</section>
<!-- End section blog -->
