<li class="active"><a class="page-scroll" href="#body-container">Início</a></li>
<li><%= link_to "Notícias", "#blog", class: "page-scroll" %></li>
<li><%= link_to "Serviços", "#services-section", class: "page-scroll" %></li>
<li><%= link_to "Equipe", "#team-section", class: "page-scroll" %></li>
<li><%= link_to "Portfolio", "#portfolio-section", class: "page-scroll" %></li>
<li><%= link_to "Contato", "#contact-section", class: "page-scroll" %></li>
