<li class="active"><%= link_to "Início", root_path(anchor: 'body-container'), class: "page-scroll" %></li>
<li><%= link_to "Blog", root_path(anchor: 'blog'), class: "page-scroll" %></li>
<li><%= link_to "Serviços", root_path(anchor: 'services-section'), class: "page-scroll" %></li>
<li><%= link_to "Equipe", root_path(anchor: 'team-section'), class: "page-scroll" %></li>
<li><%= link_to "Portfolio", root_path(anchor: 'portfolio-section'), class: "page-scroll" %></li>
<li><%= link_to "Contato", root_path(anchor: 'contact-section'), class: "page-scroll" %></li>
